body,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #fff1c6;
  background-image: url(images/bg.png);
  background-position: center;
  background-size: cover;
}

#sunban-wrapper {
  width: 780px;
  margin: 50px auto;
}

#control-wrapper {
  width: 300px;
  height: 420px;
  position: fixed;
  left: 0;
  bottom: 0;
}

/*
	이미지 6개씩 위 아래로 images/sunban.png 위에 배치해보세요.
*/
.sunban {
  height: 150px;
  background-image: url('images/sunban.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  display:flex;
}

.sunban li {
  cursor: pointer;
  width: 128px;
  height: 128px;
}

.money li {
  cursor: pointer;
}

.gun {
  width: 300px;
  height: 250px;
  background-image: url(images/gun.png);
  cursor: pointer;
}
/*
	총 이미지를 확인하여 총을 쏠때 총이 바뀌게 해보세요.
	active 가상클래스 : CSS에서 특정 요소가 사용자 상호작용에 의해 "활성화"된 상태
*/
.gun:active {
  background-position: bottom !important;
}
